*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(215, 219, 214);
    background: linear-gradient(0deg, rgba(215,219,214,1) 90%, rgba(0,150,135,1) 90%);
}

/* Pagina principale */

.container{
    height: 100vh;
    width: 70%;
    margin: auto;
    display: flex;
}

/* common cols */
.col_left{
    width: 40%;
}

.col_right{
    width: 60%;
}

.head{
    height: 10%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    border-left: 1px solid lightgrey;
}
/* solo col left */
.avatar_img img{
    width: 100%;
    border-radius: 50%;
}

.message_check{
    height: 10%;
    background-color: #8edafc;
}

.search_bar{
    height: 5%;
}

.input_search{
    width: 50%;
    border: none;
    margin-left: 1.25rem;
}
.col_contacts{
    height: 75%;
    overflow-y: scroll;
    background-color: white;

}

.col_contacts ul li {
    display: flex;
}

.contacts li.active {
	background-color: #e9ebeb;
}

.container_icons{
    margin-left: auto;
    padding: .3125rem;
    display: flex;
}

.container_icons i{
    padding: .3125rem;
    font-size: 1.25rem;
    color: grey;

}

.message_check{
    display: flex;
    align-items: center;
    padding-left: 1.875rem;
}

.bell_container{
    background-color: white;
    border-radius: 50%;
    font-size: 1.875rem;
    color: #8edafc;
}

.notifiche{
    padding: .3125rem;
}

.notifiche p{
   text-decoration: underline;
}

.search_bar{
    display: flex;
    align-items: center;
    color: grey;
    padding-left: 1.875rem;
    background-color: white;
}

.search_bar p {
    padding-left: 1.875rem;
}

.container_avatar{
    width: 20%;
}

.container_avatar img{
    width: 100%;
    border-radius: 50%;
}
.container_name{
    color: black;
    font-weight: bold;
    padding-top: .625rem;
}

/* solo col right */
.img_chat{
    width: 100%;
    height: 100%;
    background-size: cover;
}


.chat_container{
    height: 80%;
    overflow-y: scroll;
    background-image: url('../img/mine.jpg');
    padding: 3.125rem;
}
.chat{
    display: flex;
    flex-direction: column;
}

.chat.sent .message_text{
    background-color: #D5F9BA;
    margin-left: auto;
}

.sent{
    border: .625rem solid red;
}

.received{
    border: .625rem solid green;
    margin-left: auto;
}
.message_text{
    position: relative;
    width: 40%;
    padding: 1.25rem;
    border-radius: .625rem;
    background-color: white;
    margin-bottom: .625rem;
}

.message_date{
    position: absolute;
    font-size: .625rem;
    right: .1875rem;
    bottom: .1875rem;
    color: grey;
}

.send_message{
    height: 10%;
    border-left: .0625rem solid lightgrey;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}

.container_smile, 
.container_microphone{
    width: 10%;
    padding-left: .625rem;
}

.container_smile i {
    font-size: 1.25rem;
    color: grey;
}

.container_microphone i {
    font-size: 1.25rem;
    color: grey;
}

.container_input{
    width: 80%;
}

.container_input input{
    border: none;
    width: 100%;
    height: 2.5rem;
}


.avatar_img {
    height: 100%;
}

.avatar_img img {
    height: 100%;
    border-radius: 50%;
}